@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0F1115;
  --color-accent: #2563EB;
  --color-luxury: #D4AF37;
  --color-emerald: #10B981;
  --color-soft: #F5F5F5;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-white text-primary selection:bg-accent/20 selection:text-accent font-sans;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
